alembic==1.7.6
click==8.0.4
Flask==2.0.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
itsdangerous==2.1.0
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.1.0
psycopg2==2.9.3
SQLAlchemy==1.4.32
Werkzeug==2.0.3
WTForms==3.0.1
