<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Мой сайт</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="conteiner">

    <div class="row">
        <div class="col-lg-12 col-8">
            <h1>Основной контент</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea eaque eius error exercitationem
                ipsum magnam modi, nam non pariatur, quia, quidem soluta tempora. Consectetur molestias nihil quam
                temporibus unde.</p>
        </div>
        <div class="col-lg-12 col-4">
            <h1>Доп контент</h1>
            <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea eaque eius error exercitationem
                ipsum magnam modi, nam non pariatur, quia, quidem soluta tempora. Consectetur molestias nihil quam
                temporibus unde.</i></p>
        </div>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="111">
    <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Это пример карточки. Вы можете использовать её для отображения различного контента.</p>
        <a href="#" class="btn btn-primary">Перейти куда-то</a>
    </div>
</div>

{% block content %}{% endblock %}


<footer>

    <label for="customRange1" class="form-label">Пример диапазона</label>
<input type="range" class="form-range" id="customRange1">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</footer>

</body>
</html>