image: python:3.13

stages:
  - testing
  - build
  - deploy

before_script:
  - python --version
  - pip install --upgrade pip
  - pip install poetry
  - poetry install

lint:
  stage: testing
  script:
    - poetry run pylint $(git ls-files '*.py')

test:
  stage: testing
  services:
    - postgres
  variables:
    POSTGRES_USER: gitlabuser
    POSTGRES_PASSWORD: dkecie22xi
    POSTGRES_DB: gitlabdb
    POSTGRES_HOST: postgres
    COVERAGE_DIR: "coverage-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA"
  script:
    - poetry run pytest -s --cov --cov-report html:$COVERAGE_DIR --cov-fail-under 86
  artifacts:
    name: $COVERAGE_DIR
    paths:
      - $COVERAGE_DIR
    when: on_success
    expire_in: 1 week

build-job:
  stage: build
  image: docker:24.0.5-cli
  only:
    - main
  services:
      - docker:24.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
  before_script:
    - docker info
    - apk add --no-cache docker-compose
    - docker-compose --version
    - docker login -u danteonline -p $DOCKERHUB_TOKEN
  script:
    - echo "building"
    - docker-compose build backend
    - docker-compose push
    - echo "Done"

deploy-job:
  stage: deploy
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."
