{% extends "base.html" %}

{% block content %}

<ul class="list-group">
    {% for item in object_list %}
    <li class="list-group-item">
        {% if item.img %}
            <img width="100px" src="{{item.img.url}}">
        {% endif %}
        <span><a href="/category-detail/{{item.id}}/">{{item.name}}</a></span>
        <span>
            <a class="btn btn-warning" href="/category-update/{{item.id}}/">обновить</a>
        </span>
        <span>
            <a class="btn btn-danger" href="/category-delete/{{item.id}}/">удалить</a>
        </span>
    </li>
{% endfor %}
</ul>

<a class="btn btn-primary" href="/category-create/">Создать</a>

<p>
    {{promo}}
</p>

{% endblock %}