/*
0 1 2 3 4 5 6 7 8 9 A B C D E F
*/

body {
  /*background-color: aqua;*/
  /*background-color: black;*/
  /*background-color: #000000;*/
  /*background-color: rgb(150, 100, 120);*/
  /*background-color: #836;*/
  /*background-color: #8A3A6A;*/
  /*background-color: black;*/
  /*background-color: #000000;*/
  /*background-color: #  0  0  0;*/
  /*background-color: # 00 00 00;*/
  background-color: #000;

  /*color: #FFF;*/
  /*color: #FFFFFF;*/
  color: #CCC;
  /*color: #CFCFCF;*/
  /*color: #427d78;*/

  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;

  padding: 40px;
}

h1 {
  background-color: #DDD;
  color: #006;
  padding: 10px;
  font-family: "Georgia", sans-serif;
}

h2 {
  /*border-bottom: ;*/
  /*border: red 3px dashed;*/
  border-bottom: 2px solid #700;
  /*text-decoration: underline;*/
  font-size: 1.2em;
}

p {
  line-height: 1.2em;
}

.push-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.push-btn:hover {
  background-color: #3e8e41
}

.push-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.big-number {
    color: #346473;
    font-family: Merriweather,serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 auto 0 0;
}

#btn-click {

}