alembic==1.7.6
anyio==3.5.0
asgiref==3.5.0
asn1crypto==1.4.0
asyncpg==0.25.0
click==8.0.3
fastapi==0.71.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
Mako==1.1.6
MarkupSafe==2.0.1
pg8000==1.24.0
pydantic==1.9.0
scramp==1.4.1
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.0
