{% extends 'base.html' %}

{% block title %}
  Loading...
{% endblock %}


{% block head %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/press-loading.css') }}"
  >
{% endblock %}

{% block body %}
  <div class="wrapper">
    <div class="press">
      <div class="holder"></div>
      <div class="lid"></div>
      <div class="carafe">
        <div class="drop"></div>
        <div class="spout"></div>
        <div class="contents">
          <div class="grounds"></div>
          <div class="water"></div>
        </div>
      </div>
      <div class="plunger">
        <div class="shaft">
          <div class="knob"></div>
        </div>
        <div class="filter"></div>
      </div>
    </div>
  </div>
{% endblock %}