{% extends 'base.html' %}

{% block title %}
  Add product
{% endblock %}

{% block body %}
  <div>
    <h3>Create a new product</h3>

    <form method="post">
      {#      <label for="id-name">Product name:</label>#}
      {#      <input id="id-name" name="product-name" type="text">#}

      {{ form.hidden_tag() }}
      {{ form.name.label(class='form-label') }}
      {{ form.name(size=20, class='form-control') }}

      {% if form.name.errors %}
        <ul class="errors">
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <button
        class="btn btn-outline-primary my-2"
        type="submit">Create</button>

    </form>
  </div>

{% endblock %}
