{% extends 'base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  {% if products %}
    <h1>List of products:</h1>
    <ul class="list-group">
      {% for product_id, product_name in products.items() %}
        <li class="list-group-item">
          <a class="text-decoration-none"
             href="{{ url_for('products_app.details', product_id=product_id) }}">
            {{ product_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h1>No products yet</h1>
  {% endif %}

{% endblock %}
