body {
    color: #2b2b55;
    font-family: Arial, sans-serif;
    background-color: #4281D3;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    color: brown;
    background-color: blue;
    padding: 20px;
}

input {
    margin: 0 30px 0 0;
}

p {
    font-size: 30px;
    color: #4281D3;
}


a {
    color: rgb(255, 0, 0);
}


nav a {
    color: rgb(37, 27, 89);
    text-decoration: none;
}

nav a:hover {
    color: rgb(123, 119, 142);
    text-decoration: underline;
}

#travel1 {
    font-size: 50px;
    color: #1b1e2c;
}

.my_travel {
    font-size: 90px;
}

.my_color {
    color: yellow;
}

.my_color1 {
    color: silver;
}