{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="bg-light p-5 rounded">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how
        fixed to top navbar works. As you scroll, it will remain fixed to the
        top of your browser’s viewport.</p>
    <ul>
        {% for item in object_list %}
        <li>
            {% if item.img %}
            <img src="{{item.img.url}}" width="150px">
            {% endif %}
            <a href="/animal/{{item.pk}}/">{{item.name}}</a>
            <a class="btn btn-danger" href="/animal/delete/{{item.pk}}/">Удалить</a>
            <a class="btn btn-warning" href="/animal/update/{{item.pk}}/">Изменить</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <a href="animal/create/" class="btn btn-primary">Создать</a>
</div>
{% endblock %}