{% extends 'blog_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="list-group">
        {% for author in authors %}
            <li class="list-group-item">
                <h5>{{ author.name }}</h5>
                {% if author.profile %}
                    <p>Биография: {{ author.profile.bio }}</p>
                    <p>Вебсайт: <a href="{{ author.profile.webstite }}">{{ author.profile.webstite }}</a></p>
                {% else %}
                    <p>Биография: отсутствует</p>
                {% endif %}
                <small>Количество постов: {{ author.posts.count }}</small>
            </li>

        {% empty %}
            <p>Авторов нет</p>
        {% endfor %}
    </ul>
{% endblock %}
