
{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block content %}
<h1>Add user</h1>
<form action="{{ url_for('add') }}" method="post" class="form-add">
    <label for="name">Name</label>
    <input type="text" id="name" name="name"><br>
    <label for="age">Age</label>
    <input type="text" id="age" name="age"><br>
    <label for="city">City</label>
    <input type="text" id="city" name="city"><br>
    <input type="submit" value="Add User">
</form>
<a href="{{ url_for('index') }}">Back to homepage</a>

{% endblock %}