{% extends 'base.html' %}

{% block title %}User data{% endblock %}

{% block content %}

<h3>User data</h3>
<table class="container">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>city</th>
    </tr>
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.city }}</td>
    </tr>
</table>
<a href="{{ url_for('delete', user_id=user.id) }}" class="button">Delete user</a>
<a href="{{ url_for('index') }}" class="button">Back to homepage</a>

{% endblock %}