[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
itsdangerous = "==1.1.0"
Flask = "==1.1.2"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"

[dev-packages]
pytest = "==6.2.2"

[requires]
python_version = "3.9"
