{% extends 'blog_app/base.html' %}

{% block title %} Список постов {% endblock %}

{% block content %}
  <h1>Список постов</h1>
  <ul class="list-group">
      {% for post in posts %}
      <li class="list-group-item">
        <h5>{{ post.title }}</h5>
        <p>{{ post.content|truncatewords:7}}</p>
        <small>Автор: {{ post.author.name }} | Рейтинг: {{ post.rating }}</small>
          <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Редактировать</a>
          <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Удалить</a>
      </li>
    {% empty %}
      <p>Посты не найдены.</p>
    {% endfor %}


  </ul>
{% endblock %}
