{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <h5><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h5>
            <p>{{ post.content|truncatechars:20 }}</p>
            <small>Автор: {{ post.author.name }} | Рейтинг: {{ post.rating }}</small>
            <a href="{% url 'post_edit' post.id %}" class="btn btn-sm btn-warning">Редактировать</a>
        </li>
        {% empty %}
            <p>Постов нет :-(</p>
        {% endfor %}
    </ul>
{% endblock %}


