<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello</h1>
<ul>
    {% for animal in animals %}
        <li>{{ animal }}</li>
    {% endfor %}
</ul>

{#<a href="/run/task/">#}
{#    run hard task#}
{#</a>#}

<form method="post">
    {% csrf_token %}
    <input type="submit" value="run hard task">
</form>

{% if  task_id %}
    <a href="/status/?task_id={{ task_id }}">
        check task: <b> {{ task_id }}     </b>
    </a>
{% endif %}


</body>
</html>