<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'food' %}">Еда</a>
                </li>
                {% if user.is_authenticated %}
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hello, {{user.username}}</a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
                </li>
               {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>