{% extends 'base.html' %}

{% block title %}
  Product #{{ product.id }}
{% endblock %}


{% block body %}
  <h1>Product {{ product.name }}

    {% if product.is_new %}
      <span class="badge bg-secondary">New</span>
    {% endif %}
  </h1>

  <br>
  <div>
    <a href="{{ url_for('products_app.list') }}">
      Back to products list
    </a>
  </div>

  <br>
  <div>
    <button
      type="button"
      class="btn btn-danger btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#modal-del-product"
    >Delete product
    </button>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modal-del-product" tabindex="-1" aria-labelledby="modal-delete-product-label"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-del-product-title">Delete product #{{ product.id }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Delete product <code>{{ product.name }}</code>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="delete-product" onclick="deleteItem()">Delete</button>
        </div>
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/product-details.js') }}"></script>

{% endblock %}
