{% extends 'base.html' %}


{% block body %}
  <h1>Products:</h1>
  {% if products %}
    <ul class="list-group">
      {% for product in products %}
        <li class="list-group-item">
          <a class="text-decoration-none"
             href="{{ url_for('products_app.details', product_id=product.id) }}">
            {{ product.name }}
          </a>
          {% if product.is_new %}
            <span class="badge bg-secondary">New</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div><strong>No products</strong></div>
  {% endif %}
  <br>
  <div>
    <a href="{{ url_for('products_app.add') }}">
      Add product
    </a>
  </div>
{% endblock %}

{% block title %}
  Products list
{% endblock %}
