<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">

        {% for endpoint, label in [
          ('index', 'Home'),
          ('products_app.list', 'Products'),
        ] %}
          {% set path = url_for(endpoint) %}
          <li class="nav-item">
            <a
              class="nav-link {% if path == request.path -%}active{%- endif %}"
              aria-current="page"
              href="{{ path }}"
            >{{ label }}</a>
          </li>
        {% endfor %}

        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a
              class="dropdown-item"
              href="{{ url_for('products_app.add') }}"
            >Add product</a></li>
            <li><a class="dropdown-item disabled" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item disabled" href="#">Work in progress...</a></li>
          </ul>
        </li>
      </ul>
{#      <form class="d-flex" role="search">#}
{#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#      </form>#}
    </div>
  </div>
</nav>