alembic==1.12.1
astroid==3.0.1
black==23.11.0
blinker==1.7.0
click==8.1.7
coverage==7.3.2
dill==0.3.7
exceptiongroup==1.1.3
Flask==3.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.1
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.3.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.3.0
psycopg2-binary==2.9.9
pylint==3.0.2
pytest==7.4.3
pytest-cov==4.1.0
SQLAlchemy==2.0.23
tomli==2.0.1
tomlkit==0.12.2
typing_extensions==4.8.0
Werkzeug==3.0.1
WTForms==3.1.1
