{% extends "base.html" %}
{% block content %}
<h2>Responsive Columns</h2>
<div class="row">
    <!-- Колонка с текстом -->
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada.
        </p>
    </div>
    <!-- Вторая колонка с текстом -->
    <div class="col-md-6">
        <p>
            Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer consectetur luctus augue, ac tempor orci lobortis a.
        </p>
    </div>
</div>
{% endblock %}
