{% extends "base.html" %}
{% block content %}
<h1>Bootstrap Elements</h1>
<ul>
    <li><a href="/buttons">Buttons</a></li>
    <li><a href="/dropdown">Dropdown</a></li>
    <li><a href="/carousel">Carousel</a></li>
    <li><a href="/forms">Forms</a></li>
    <li><a href="/columns">Responsive Columns</a></li>
    <li><a href="/accordeon">Accordeon</a></li>
    <li><a href="/cards">Cards</a></li>
    <li><a href="/modal">Modal</a></li> 
    <li><a href="/navbar">Navbar</a></li>
    <li><a href="/clicker">Clicker Game</a></li>
</ul>

{% endblock %}
