{% extends 'products/products-base.html' %}

{% from 'macros/form-errors-list.html' import form_errors_list %}

{% block title %}
  Update Product
{% endblock %}

{% block body %}
  <h2>Update product #{{ product.id }}</h2>

  <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form_errors_list(form.name.errors) }}
      {{ form.name(class="form-control", value=product.name) }}
    </div>
    <div class="mb-3">
      {{ form.short_description.label(class="form-label") }}
      {{ form_errors_list(form.short_description.errors) }}
      {{ form.short_description(class="form-control", value=product.short_description) }}
    </div>
    <div class="button-wrapper">
      <button id="btn-create" class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>

  <div class="my-3">
    <a
      class="btn btn-secondary"
      href="{{ url_for('products_app.details', product_id=product.id) }}">
      Back to product {{ product.name }}
    </a>
  </div>
{% endblock %}

