{% extends 'base.html' %}

{% block title %}
  Orders
{% endblock %}

{% block body %}
  <h3>Orders</h3>

  <ul>
    {% for order in orders %}
      <li>
        <p>
        #{{ order.id }}
        <code>{{ order.promocode }}</code></p>
        <p><strong>Address:</strong> {{ order.address }}</p>
        <p><strong>Ordered at:</strong> {{ order.created_at }}</p>
        <ul>
          {% for product in order.products.all %}
            <li>#{{ product.pk }} {{ product.name }}</li>
          {% endfor %}
        </ul>
        <p><strong>Ordered by</strong> {{ order.user }}</p>
        <p><strong>Card</strong> {{ order.payment_details.card_ends_with }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
