{% extends 'products/base.html' %}


{% block title %}
  Products list
{% endblock %}

{% block body %}
  <h1>Products</h1>
  <ul>
    {% for product in products %}
      {# Show name of product #}
      <li>
        <a href="{{ url_for('products_app.details', product_id=product.id) }}"
        >{{ product.name }}</a></li>
    {% endfor %}
  </ul>

  <br>
  <div>
    <a href="{{ url_for('products_app.add') }}">Add a new product</a>
  </div>
  {# Hello jinja comment #}
  <!-- hello world -->
{% endblock %}
