{% extends 'base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <div>
        <ul>
            {% for el in object_list %}
                <li>
                    <a href="{% url 'shop_app:read_category' el.pk %}">{{ el }}</a>
                    <a href="{% url 'shop_app:update_category' el.pk %}"> update</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

    {% include 'shop_app/components/back-to-shop-index.html' %}
{% endblock %}
