{% extends 'base.html' %}

{% block title %}
  Product #{{ product.id }} details
{% endblock %}

{% block head %}
  <style>
    .d-under {
      border-bottom: 2px solid black;
    }
  </style>
{% endblock %}

{% block main %}
  <h1>Product #{{ product.id }}</h1>
  <h2>{{ product.name }}</h2>

  <br>
  <p>
    <strong>Равным образом постоянное</strong> информационно-пропагандистское <b>обеспечение нашей деятельности</b> требуют определения и
    уточнения направлений прогрессивного развития. Идейные соображения высшего порядка, а также новая модель
    <em>организационной <u>деятельности</u> способствует</em> пример: <span class="d-under">д</span> <u><span class="d-under">д</span>еятельности</u> подготовки и <i>реализации соответствующий условий активизации</i>. Значимость
    этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности
    обеспечивает <del>широкому кругу</del> (специалистов) <s>участие в формировании</s> соответствующий условий активизации. Разнообразный
    и богатый опыт <i><b>постоянный количественный рост</b></i> и сфера нашей активности требуют от нас анализа направлений
    прогрессивного развития. <dfn>Товарищи!</dfn> реализация намеченных <mark>плановых</mark> заданий способствует подготовки и реализации форм
    развития.
  </p>
  <br>
  <div>
    <a href="{{ url_for('products_app.delete', product_id=product.id) }}"
    >Delete product</a>
    <a href="{{ url_for('products_app.list') }}">Back to products list</a>
  </div>
{% endblock %}
