<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        Base Title
      {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block body %}
      Base body
    {% endblock %}

    <footer>
      <small>&copy; OTUS 2022</small>
    </footer>
  </body>
</html>
