<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--    <link rel="stylesheet" href="style.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Кинопоиск</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Список фильмов</a></li>
            <li><a class="dropdown-item" href="#">О нас</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

        <h1>{{ title }}</h1>

</header>

{% for movie in movies %}
<div class="card" style="width: 18rem;">
<!--    <img src="./images/cat.jpg" class="card-img-top" alt="...">-->
    <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text"><b>{{ movie.year }}</b></p>
        <p class="card-text">{{ movie.description }}</p>
        <a href="#" class="btn btn-primary">Читать подробней</a>
    </div>
</div>
{% endfor %}


<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>

<main>
    <article>
        <h2 class="my_class" id="travel">Путешествия</h2>
        <img src="images/cat.jpg" alt="Кот" height="200">
        <img src="images/cat.jpg" alt="Кот" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In magni molestiae nobis
            officiis, quidem saepe sit? Adipisci animi, deleniti dicta dignissimos ducimus, facere
            fuga iusto omnis, ratione sapiente sequi sint.</p>
        <video src="media/temp_video.mp4" width="500" controls></video>
        <br>
        <a href="about.html" target="_blank">Читать подробней</a>
    </article>
    <hr>
    <article>
        <h2 id="nature">Природа</h2>
        <a href="https://google.com"><img src="https://data.nalog.ru/cdn/image/2770197/original.jpg"
                                          alt="Асик" width="400"></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsum labore molestiae
            officia optio praesentium quidem temporibus! Accusamus laudantium nesciunt non, quam
            quibusdam quisquam ullam? Asperiores fuga placeat praesentium sit!</p>

    </article>

    <form action="about.html" method="post">
        <label for="name1">Ваше имя</label>
        <input type="text" id="name1" name="user_name">
        <br>
        <label for="pass">Ваш пароль</label>
        <input type="password" id="pass" name="user_pass">
        <br>
        <label for="email">Ваш email</label>
        <input type="wmail" id="email" name="user_email">
        <br>
        <label for="message">Ваше сообщение</label>
        <textarea id="message" name="user_message" rows="7"></textarea>
        <br>
        <button type="submit">Отправить</button>
    </form>
</main>

<footer>
    <p>&copy; 2025 Блог о путешествиях</p>
</footer>

<!--комментарий-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>