<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ p_title|default:"Zoo" }}</title>
</head>
<body>
<h1>Hello!</h1>
<ul>
    <li>
        <a href="/">Main</a>
    </li>
    <li>
        <a href="/animals/">Animals</a>
    </li>
</ul>

<a href="{% url 'animals:animalkind_create' %}">New AnimalKind</a>

<div class="animals-list">
    <ul>
        {% for item in animal_list %}
            <li>
                {{ item }}
                <a href="{% url 'animals:animalkind_update' item.kind_id %}">
                    edit animal kind
                </a>
                {{ item.my_food }}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>