{% extends 'blog_app/base.html' %}

{% block title %} Список авторов {% endblock %}

{% block content %}
  <h1>Список авторов</h1>
  <ul class="list-group">
      {% for author in authors %}
      <li class="list-group-item">
          <h5>{{ author.name }}</h5>
          {% if author.profile %}
          <p>Биография: {{ author.profile.bio }}</p>
          <p>Website: <a href="{{ author.profile.website }}"> {{ author.profile.website }}</a></p>
          {% else %}
          <p>Биография: Отсутствует</p>
          {% endif %}
      </li>
      {% empty %}
      <p>Авторы не найдены.</p>
      {% endfor %}


  </ul>
{% endblock %}
