<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Мой Блог</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/">Все посты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authors/">Все авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_post/">Добавить пост</a>
                </li>

            </ul>
        </div>
    </div>
</nav>